body{
  background-color: black;
  text-align: center;
}

a{
  color: aquamarine;
  font-size: 16px;
}

h1{
 color: white;
 font-size: 50px;
 font-weight: normal;
 font-family: Verdana;
}

h2{
  color: grey;
  font-size: 21px;
  font-family: Verdana;
}

.subhead{
  font-weight: 300;
  font-size: 42px;
}

#copyright{
  color: grey
  text-align:right;
}
